<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード再設定完了</title>
    
    <link rel="stylesheet" th:href="@{/css/parts.css}">
    <link rel="stylesheet" th:href="@{/css/login/loginUpdate.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div class="header-container">
        <div th:if="${#authorization.expr('hasRole(''STUDENT'')')}">
            <div th:replace="~{fragments/_parts :: student-header}"></div>
        </div>
        <div th:if="${#authorization.expr('hasRole(''ADMIN'')')}">
            <div th:replace="~{fragments/_parts :: admin-header}"></div>
        </div>
        <div th:if="${#authorization.expr('hasRole(''SUPER_ADMIN'')')}">
            <div th:replace="~{fragments/_parts :: superadmin-header}">
        </div>
    </div>

    <div class="container">
        <h2 class="title">メールアドレス変更完了</h2>

        <p class="message">
            メールアドレスの再設定が完了しました。<br>
            新しいメールアドレスでログインしてください。
        </p>

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="login-btn">
                ログイン画面へ
            </button>
        </form>
    </div>

    <script th:src="@{/js/login_Update.js}"></script>
</body>
</html>