<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー詳細</title>
    
    <link rel="stylesheet" th:href="@{/css/parts.css}">
    <link rel="stylesheet" th:href="@{/css/common/profile.css}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>

<div class="header-container">

    <div th:if="${#authorization.expr('hasRole(''STUDENT'')')}">
        <div th:replace="~{fragments/_parts :: student-header}"></div>
    </div>
    <div th:if="${#authorization.expr('hasRole(''ADMIN'')')}">
        <div th:replace="~{fragments/_parts :: admin-header}"></div>
    </div>

</div>

    <!-- プロフィール全体 -->
    <div class="profile-container">

        <!-- ユーザー情報のヘッダー -->
        <div class="user-header">

            <div class="form-container">
                
                <!-- アイコン -->
                <div class="user-icon"></div>
            
                <!-- 名前変更 -->
                <div class="form-item-group" id="name-group">
                    <p class="user-role" th:text="${userData.Role}"></p>
                    
                    <div class="label-and-button">
                        <span class="label">氏名</span>
                    </div>
                
                    <p class="display-value" id="display-value" th:text="${userData.Name}"></p>
                </div>
            </div>
        </div>

        
        <hr class="header-separator">

        <!-- 以下コンテンツ -->
        <div class="content-wrapper">
            <div class="card user-details-card">
                
                <ul class="detail-list">

                    <div class="detail-content">
                        <span class="card-title">プライバシー設定</span>
                    </div>

                    <div class="detail-content">
                        <a href="#" class="detail-link">パスワード変更</a>
                    </div>

                    <li class="detail-content">
                        <span class="card-title">プッシュ通知設定</span>
                        <form id="notificationSettingForm"> 
                            <fieldset class="radio-2">
                                <label>
                                    <input type="radio" name="notification_option" value="ALL" checked/>
                                    すべて通知
                                </label>
                                <label>
                                    <input type="radio" name="notification_option" value="MENTIONS"/>
                                    メンションのみ通知
                                </label>
                                <label>
                                    <input type="radio" name="notification_option" value="NONE"/>
                                    通知しない
                                </label>
                            </fieldset>
                            </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script th:src="@{/js/profile.js}"></script>
</body>
</html>