<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プロフィール</title>
    
    <link rel="stylesheet" th:href="@{/css/parts.css}">
    <link rel="stylesheet" th:href="@{/css/common/profile.css}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

<div class="header-container">

    <div th:if="${#authorization.expr('hasRole(''STUDENT'')')}">
        <div th:replace="~{fragments/_parts :: student-header}"></div>
    </div>
    <div th:if="${#authorization.expr('hasRole(''ADMIN'')')}">
        <div th:replace="~{fragments/_parts :: admin-header}"></div>
    </div>
</div>


<div class="profile-container">

    <div class="user-header">
        <div class="user-icon"></div>
        <h1 class="user-name" th:text="${userData.Name}"></h1>
        <p class="user-role" th:text="${userData.Role}"></p>
    </div>

    <div class="form-container">
    
       
            <span class="label" for="username" >氏名</span>
            <input class="form" type="text" id="username" name="username" required placeholder="田中 花子">


            <span class="label" for="mailaddress">メールアドレス</span>
            <input class="form" type="text" id="mailaddress" name="mailaddress" required placeholder="example123@gmail.com">
            <a th:href="@{#}"  class="mailaddress-button">変更</a>

        

    </div>

</div>

    <script th:src="@{/js/profile.js}"></script>
</body>
</html>