<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メールアドレス変更 - 入力</title>
    
    <link rel="stylesheet" th:href="@{/css/common/parts.css}">
    <link rel="stylesheet" th:href="@{/css/login/loginResetEmail.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div class="header-container">
        <div th:if="${#authorization.expr('hasRole(''STUDENT'')')}">
            <div th:replace="~{fragments/_parts :: student-header}"></div>
        </div>
        <div th:if="${#authorization.expr('hasRole(''ADMIN'')')}">
            <div th:replace="~{fragments/_parts :: admin-header}"></div>
        </div>
        <div th:if="${#authorization.expr('hasRole(''SUPER_ADMIN'')')}">
            <div th:replace="~{fragments/_parts :: superadmin-header}">
        </div>
    </div>

    <div class="container">
        
        <div class="backbutton-container">
            <div th:replace="~{fragments/_parts :: backButton(url='/profile/security/email/auth')}"></div>
        </div>
        <h2 class="main-title">新しいメールアドレスを入力してください</h2>

        <div id="jsErrorMsg" class="js-error-msg"></div>

        <form id="emailForm" th:action="@{/profile/security/email/send-otp}" method="post" class="form-content">
            
            <div class="form-group">
                <label class="label" for="newEmail">変更先メールアドレス</label>
                <input type="email" id="newEmail" name="newEmail" class="input-text" 
                    placeholder="hoge@example.com" required>
            </div>

            <div class="form-group">
                <label class="label" for="confirmEmail">変更先メールアドレス（確認）</label>
                <input type="email" id="confirmEmail" name="confirmEmail" class="input-text" 
                    placeholder="hoge@example.com" required>
                
                <p id="matchError" class="error-msg" style="display: none;">メールアドレスが一致しません</p>
                
                <p th:if="${error}" th:text="${error}" class="server-error-msg"></p>
            </div>

            <button type="submit" id="submitBtn" class="submit-btn">送信</button>
        </form>
    </div>

    <script th:src="@{/js/login_ResetEmail.js}"></script>
</body>
</html>