<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー詳細</title>
    
    <link rel="stylesheet" th:href="@{/css/parts.css}">
    <link rel="stylesheet" th:href="@{/css/common/profile.css}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>

<div class="header-container">

    <div th:if="${#authorization.expr('hasRole(''STUDENT'')')}">
        <div th:replace="~{fragments/_parts :: student-header}"></div>
    </div>
    <div th:if="${#authorization.expr('hasRole(''ADMIN'')')}">
        <div th:replace="~{fragments/_parts :: admin-header}"></div>
    </div>

</div>

    <!-- プロフィール全体 -->
    <div class="profile-container">

        <!-- ユーザー情報のヘッダー -->
        <div class="user-header">

            <div class="form-container">
                
                <!-- アイコン -->
                <div class="user-icon"></div>
            
                <!-- 名前変更 -->
                <div class="form-item-group" id="name-group">
                    <p class="user-role" th:text="${userData.Role}"></p>
                    
                    <div class="label-and-button">
                        <span class="label">氏名</span>
                        <button class="edit-button" id="edit-button" data-target="name">編集</button>
                        <button class="save-button hidden" id="save-button" data-target="name">確定</button> <button class="cancel-button hidden" id="cancel-button" data-target="name">キャンセル</button>
                    </div>
                
                    <p class="display-value" id="display-value" th:text="${userData.Name}"></p> 
                    
                    <!-- 編集ボタンを押したときに出る -->
                    <input class="edit-field hidden" type="text" id="username-input" name="username" required th:value="${userData.Name}">
                </div>
            </div>
        </div>

        
        <hr class="header-separator">

        <!-- 以下コンテンツ -->
        <div class="content-wrapper">
            <div class="card user-details-card">
                
                <ul class="detail-list">

                    <div class="detail-content">
                        <span class="card-title">メールアドレス</span>
                        <a href="#" class="edit-button">編集</a>
                        <p class="display-value" th:text="${userData.Email}"></p>
                    </div>

                    <div class="detail-content">
                        <li><a href="#" class="detail-link">プライバシー設定</a></li>
                    </div>

                    <li class="detail-content">
                        <span class="card-title">タイムゾーン</span>
                        <span class="timezone-value" th:text="${userData.Timezone}"></span>
                    </li>
                </ul>
            </div>

            <div class="card subject-details-card">
                <h2 class="card-title">

                   <div th:if="${#authorization.expr('hasRole(''STUDENT'')')}">
                     <span>受講教科詳細</span>
                    </div>
                <div th:if="${#authorization.expr('hasRole(''ADMIN'')')}">
                    <span>担当教科詳細</span>
                </div>

                </h2>

                <ul class="subject-list" id="subjectList">
                    <li th:each="subject, iterStat : ${subjectData}" 
                        th:classappend="${iterStat.index >= 5} ? 'hidden-subject' : ''">
                        <span th:text="'[' + ${subject.SubjectID} + '] ' + ${subject.SubjectName}">
                        </span>
                    </li>
                </ul>

                <button id="showMoreButton" class="show-more-button">さらに表示</button>
            </div>
        </div>
    </div>

    <script th:src="@{/js/profile.js}"></script>
</body>
</html>