<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メールアドレス変更 - 本人確認</title>
    
    <link rel="stylesheet" th:href="@{/css/parts.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <link rel="stylesheet" th:href="@{/css/login/loginEmailAuth.css}">
</head>
<body>
    
    <div class="header-container">
        <div th:replace="~{fragments/_parts :: main-header}"></div>
    </div>

    <div class="container">
        
        <div class="backbutton-container">
            <div th:replace="~{fragments/_parts :: backButton(url=${backUrl})}"></div>
        </div>
        <div th:replace="~{fragments/_parts :: page-title-part('メールアドレス再設定')}"></div>
        
        <p class="description">
            メールアドレスを変更します。<br>ログインIDとパスワードを入力してください。<br>
        </p>

        <div id="jsErrorMsg" class="js-error-msg"></div>

        <form th:action="@{/email/auth}" method="post" class="form-content" id="authForm">
            
            <div class="form-group">
                <label class="label" for="loginId">ログインID</label>
                <input type="text" id="loginId" name="loginId" class="input-text" 
                    placeholder="ユーザーID" required>
            </div>

            <div class="form-group">
                <label class="label" for="password">現在のパスワード</label>
                <div class="password-wrapper">
                    <input type="password" id="password" name="password" class="input-text" 
                        placeholder="パスワード" required minlength="8" maxlength="24">
                    <i class="fa-solid fa-eye-slash toggle-password" id="togglePassword"></i>
                </div>
                
                <p th:if="${error}" th:text="${error}" class="error-msg"></p>
            </div>

            <button type="submit" id="submitBtn" class="submit-btn">次へ進む</button>
        </form>
    </div>

    <script th:src="@{/js/login_EmailAuth.js}"></script>
</body>
</html>