<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Attendance Management System</title>
    <link rel="stylesheet" th:href="@{/css/login/login.css}" />
    <link rel="stylesheet" th:href="@{/css/parts.css}" />
    <link rel="stylesheet" th:href="@{/css/login/login_animation.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>

<body class="loading">
    <div id="splash">
        <div class="splash-logo-container">
            <div class="ripple-rings">
                <div class="ripple"></div>
                <div class="ripple"></div>
                <div class="ripple"></div>
            </div>
            <img th:src="@{/image/AttenPi.png}" alt="AttenPi Logo" class="splash-logo">
        </div>
    </div>

    <div id="container-wrapper">
        <header class="header-container">
            <div th:replace="~{fragments/_parts :: main-header}"></div>
        </header>

        <main class="login-container">
            <div class="logo-area">
                <img th:src="@{/image/AttenPi.png}" alt="アイコン" class="logo static-logo">
            </div>

            <div id="jsErrorMsg" style="color: red; text-align: center; margin-bottom: 15px; display: none;"></div>

            <form th:action="@{/login}" method="post" id="loginForm" class="fade-in-form">
                <div class="form-group">
                    <label class="label" for="username">ユーザーID または メールアドレス</label>
                    <input class="form" type="text" id="username" name="username" required placeholder="例）Miyu.k1234@gmail.com" />
                </div>

                <div class="form-group">
                    <label class="label" for="password">パスワード</label>
                    <div class="password-wrapper">
                        <input class="form" type="password" id="password" name="password" 
                               required placeholder="例）password1234"
                               minlength="8" maxlength="24" />
                        <i class="fa-solid fa-eye-slash toggle-password" id="togglePassword"></i>
                    </div>
                </div>

                <div th:if="${param.error}">
                    <p class="error">ユーザーIDまたはパスワードが正しくありません。</p>
                </div>

                <a class="forget-password" th:href="@{/password/forgot}">
                    <p class="message">パスワードをお忘れですか？</p>
                </a>
                <button type="submit" id="submitBtn" class="button">ログイン</button>
            </form>
        </main>
    </div>

    <script th:src="@{/js/login.js}"></script>
</body>
</html>