<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード再設定完了</title>
    
    <link rel="stylesheet" th:href="@{/css/parts.css}">
    
    <link rel="stylesheet" th:href="@{/css/login/loginUpdate.css}">
</head>
<body>

    <div class="header-bar"></div>

    <div class="container">
        <h2 class="title">パスワード変更完了</h2>

        <p class="message">
            パスワードの再設定が完了しました。<br>
            新しいパスワードでログインしてください。
        </p>

        <a th:href="@{/login}" class="login-btn">ログイン画面へ</a>
    </div>

    <script th:src="@{/js/login_Update.js}"></script>
</body>
</html>