<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ファイルアップロード</title>
    
    <link rel="stylesheet" th:href="@{/css/common/parts.css}">
    <link rel="stylesheet" th:href="@{/css/account/csvUpload.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div class="header-container">
        <div th:replace="~{fragments/_parts :: admin-header}"></div>
    </div>

    <div class="backbutton-container">
        <div th:replace="~{fragments/_parts :: backButton(url='/admin/accountManage')}"></div>
    </div>

    <div class="upload-container">
        
        <h1 class="page-title">ファイルアップロード</h1>

        <div class="description-area">
            <p>生徒名、所属、学籍番号を入力してCSVファイルを<br>アップロードするとユーザーの仮アカウントを作成します。</p>
        </div>

        <form id="uploadForm" method="post" enctype="multipart/form-data" th:action="@{/admin/upload-file}" class="upload-form">
            
            <div class="file-input-wrapper">
                <label for="csvFile" class="file-label-btn">ファイルを選択</label>
                <input type="file" id="csvFile" name="file" accept=".csv" class="file-input-hidden" onchange="updateFileName(this)">
                
                <span id="fileNameDisplay" style="margin-left: 10px;">選択されていません</span>
            </div>

            <p id="errorMsg" style="color: red; font-weight: bold; margin-top: 10px; display: none;">
                ファイルを選択してください
            </p>

            <button type="submit" class="submit-btn">アップロード</button>

        </form>

    </div>

    <script th:src="@{/js/csvUpload.js}"></script>

</body>
</html>