<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マスタ情報の編集</title>
    
    <link rel="stylesheet" th:href="@{/css/parts.css}">
    <link rel="stylesheet" th:href="@{/css/admin/MdList.css}">
    
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
</head>
<body>

    <div class="header-container">
        <div th:if="${#authorization.expr('hasRole(''ADMIN'')')}">
            <div th:replace="~{fragments/_parts :: admin-header}"></div>
        </div>
        <div th:if="${#authorization.expr('hasRole(''SUPER_ADMIN'')')}">
             <div th:replace="~{fragments/_parts :: superadmin-header}"></div>
        </div>
    </div>
    
    <div class="main-container">
        
        <div th:replace="~{fragments/_parts :: page-title-part('マスタ情報の編集')}"></div>

        <div class="menu-group fade-in">
            <div class="action-buttons">
                
                <a th:href="@{/admin/master/classroom}" class="ghost-button">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <span>教室マスタ</span>
                </a>

                <a th:href="@{/admin/master/SubjectInformation}" class="ghost-button">
                    <i class="fa-solid fa-book-open"></i>
                    <span>教科情報マスタ</span>
                </a>

                <a th:href="@{/admin/master}" class="ghost-button">
                    <i class="fa-solid fa-people-group"></i>
                    <span>所属マスタ</span>
                </a>

            </div>
        </div>

    </div>

</body>
</html>