.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 50px auto;
    padding: 30px;
  
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color: #00bdca;
    padding: 30px;
}

.form-group {
    display: block;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    padding-block-end: 10px;
}

input{
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input:focus{
    outline: none;
    border-color: #00bdca;
    box-shadow: 0 0 5px #00bdca;
}

input::placeholder{
    color: #7a7a7a;
    opacity: 0.3;
}

.label{
    width: 150px;
    text-align: left;
    font-size: 20px;
}

.form{
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #00bdca;
    border-radius: 5px;
    box-sizing: border-box;
    
}


.forget-password{
    text-align: center;
    font-size: 16px;
    color: #00bdca;
    text-decoration: line-throughs;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 30px auto;
    padding: .9em 2em;
    border: 2px solid #00bdca;
    border-radius: 5px;
    background-color: #fff;
    color: #00bdca;
    font-size: 20px;
    font-weight: bold;
}

.first-login-message{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.backbutton-container{
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.error{
    color: rgb(159, 0, 0);
    text-align: center;
    margin-top: 10px;
}