.backbutton{
    width: 250px;
    padding: 10px 20px;
    border: 1px solid #00bdca;
    border-radius: 5px;
    background-color: #fff;
    color: #00bdca;
    font-size: 20px;
    text-decoration: none;
}

.backbutton::before{
    display: inline-block; 
    transform: rotate(45deg);
    width: 6px;
    height: 6px;
    border-top: 2px solid #00bdca;
    border-left: 2px solid #00bdca;
    transform: rotate(-45deg);
    margin-right: 6px;
    content: '';
    vertical-align: middle;
}