.header{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #00bdca;
    background: linear-gradient(to #008b95, #00bdca,#48fff9,); 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.backbutton{
    position: relative;
    top: 150px;
    width: 250px;
    padding: 10px 20px;
    border: 1px solid #00bdca;
    border-radius: 5px;
    background-color: #fff;
    color: #00bdca;
    font-size: 20px;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}

.backbutton::before{
    display: inline-block; 
    transform: rotate(45deg);
    width: 6px;
    height: 6px;
    border-top: 2px solid #00bdca;
    border-left: 2px solid #00bdca;
    transform: rotate(-45deg);
    margin-right: 6px;
    content: '';
    vertical-align: middle;
}


