<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>申請画面</title>
    
    <link rel="stylesheet" th:href="@{/css/parts.css}">
    <link rel="stylesheet" th:href="@{/css/request.css}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <div class="header-container">
        <div th:replace="~{fragments/_parts :: header}"></div>
    </div>

    <div th:replace="~{fragments/_parts :: backButton(url=@{/})}"></div>
    
    <div class="content-wrapper">
    
        <div class="action-buttons">
            <button class="ghost-button">公欠申請</button>
            <button class="ghost-button">申請履歴</button>
        </div>
        
    </div>

</body>
</html>